/*********************** GLOBAL ****************************/
/* Here are the global rules, used in all the pages        */

body {
  margin: 0.5em;
  font-size: 1em;
  font-family: sans-serif;
}
h2 {
  background: #ccf;
  border-bottom: 0.1em solid #999;
}
.highlight {
  background: #ccf;
  border-bottom: 0.1em solid #999;
}
#page-header {
  border-bottom: 0.1em solid #999;
  background: #ddd;
}
#page-footer {
  border-top: 0.1em solid #999;
  background: #ddd;
}
#page-wrap {
  margin: 2.5em;
}
#disclaimer {
  font: italic;
  font-weight: bold;
  color: darkred;
  text-decoration: underline;
}
#pic {
  float: right;
  margin: -30px 0 5 0;
  max-width:350px;
  border: 3px;
  border-radius: 5px;
}
#sshot {
  float: left;
  margin: -30px 0 5 0;
  max-width:100%;
  border: 3px;
  border-radius: 5px;
}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Links and abbreviations are underlined only when the cursor is over them */
a {
  text-decoration: none;
  font-weight: bold;
}
a:link {
  color: blue;
}
a:visited {
  color: blue;
}
a:hover {
  text-decoration: underline;
  background: #ccf;
}
abbr {
  text-decoration: underline;
  font-weight: bold;
  background: #ccc;
}
dl {
  columns: 1;
  overflow: auto;
  border: 1px solid #C8C8C8;
}
dt {
  break-before: avoid;
  border: 1px solid #C8C8C8;
  margin-bottom: 0.5em;
  background-color: #F0F0F0;
}


/* Code is also pretty */
pre {
  background: #f4f4f4;
  border: 0.3em solid #ddd;
  border-left: 0.3em solid navy;
  color: #333;
/*  page-break-inside: avoid;*/
  font-family: monospace;
/*  font-size: 1.3em;*/
  line-height: 1.6;
  margin-bottom: 1.6em;
/*  max-width: 85%;*/
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}
