/*********************** GLOBAL ****************************/
/* Here are the global rules, used everywhere on the pages */

html {
	font-family: sans-serif;
}
body {
	margin:10;
}

/* Links are underlined only when the cursor is over them */
a {
    text-decoration: none;
}
a:link {
    color: blue;
}
a:visited {
    color: purple;
}
a:hover {
    text-decoration: underline;
    font-weight: bold;
    background: #ccf;
}
